# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking==0.12.0 # Apache-2.0 - test pep8
oslotest==3.5.0 # Apache-2.0 - test py35
coverage==4.5.1
tox==3.4.0
